@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Hanken+Grotesk:wght@500;700;800&family=Manrope:wght@500;600;700;800&family=Nunito:wght@600;700;800&family=Wix+Madefor+Text:wght@400;500;800&display=swap");
/*
=============== 
Variables Section
===============
*/
$font-family: "Wix Madefor Text", sans-serif;
$neutral: #ffffff;
$black: #000000;
$hero_bg_1: #ffffff;
$hero_bg_2: #e8eff1;
$individual_therapy: #ccc6c6;
$couples_therapy: #f0eded;
$sex-therapy: #fadcd6;
$family_therapy: #e5c7b5;
$approach: #f7f6f6;
$esteem_1: #ccc6c6;
$esteem_2: #fadcd6;
$esteem_3: #e5c7b5;
$esteem_4: #b6d1d9;
$esteem_5: #e8eff1;
$bg_testimonial: #fadcd6;
$bg_footer: #e8eff1;

/*
=============== 
General selector
===============
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  // overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*
=============== 
Header Section
===============
*/

#therapy .therapy {
  max-width: 1800px;
  width: calc(100vw - 20px);
  margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .bars {
      display: none;
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.2rem;
        li {
          a {
            color: $black;
            &:hover {
              color: #899da3;
            }
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 1rem;

      &-img {
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      span {
        font-size: 1.3rem;
        color: #899da3;
      }
    }
  }
  /*
  =============== 
  Media Query
  ===============
  */

  @media screen and (max-width: 500px) {
    header {
      .bars {
        display: block;
      }
      nav {
        ul {
          display: none;
        }
      }
      .user {
        justify-content: space-between;
        width: 100%;

        &-img {
          display: flex;
          justify-content: space-between;
          gap: 5rem;
          width: 100%;
        }
        span {
          display: none;
        }
      }
    }
  }

  /*
  =============== 
  Hero Section
  ===============
  */
  #hero .hero {
    position: relative;
    height: 70vh;
    background: linear-gradient(
      0deg,
      rgba(232, 239, 241, 1),
      50%,
      rgba(255, 255, 255, 1) 50%
    );
    &_content {
      position: absolute;
      top: 38%;
      left: 28%;
      h1 {
        font-size: 10rem;
      }
      p {
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
      }
    }

    /*
      =============== 
      Media Query
      ===============
      */
    @media screen and (max-width: 500px) {
      &_content {
        top: 30%;
        left: 25%;
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  /*
  =============== 
  Therapy_Type Section
  ===============
  */
  #therapy_type .therapy_type {
    .therapy_cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      &_1,
      &_2,
      &_3,
      &_4,
      &_5,
      &_7 {
        height: 400px;
        padding: 50px;
        .num {
          font-size: 3rem;
          font-weight: bold;
        }
        h3 {
          font-size: 2.3rem;
          font-weight: 500;
        }
        p {
          font-size: 1.2rem;
          line-height: 25px;
        }
        a {
          color: $black;
          font-size: 1.2rem;
          border-bottom: 1px solid $black;
          padding-top: 5%;
        }
      }
      &_1 {
        background-color: $individual_therapy;
      }
      &_2 {
        background-color: $couples_therapy;
      }
      &_3 {
        background-color: $sex-therapy;
      }
      &_4 {
        background-color: $family_therapy;
      }
      &_5 {
        grid-column: 1 / 3;
        background-color: $approach;
      }
      &_6 {
        .therapist {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &_7 {
        background-color: $individual_therapy;
      }

      /*
  =============== 
  Media Query
  ===============
  */

      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_1,
        &_2,
        &_3,
        &_4,
        &_5,
        &_7 {
          height: auto;
          padding: 10px;
          .num {
            font-size: 2rem;
          }
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
/*
  =============== 
  Getting Help Section
  ===============
  */
#help .help {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin-top: 10%;
  &_header {
    text-align: center;
    h3 {
      font-size: 3rem;
      font-weight: 500;
      margin: 3% 0;
    }
    p {
      font-size: 1.2rem;
      line-height: 25px;
    }
  }
  &_types {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    .help_type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      h3 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .one {
        background-color: $esteem_1;
      }
      .two {
        background-color: $esteem_2;
      }
      .three {
        background-color: $esteem_3;
      }
      .four {
        background-color: $esteem_4;
      }
      .five {
        background-color: $esteem_5;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  .resources {
    margin: 3% 0;

    a {
      color: $black;
      font-size: 1.2rem;
      border-bottom: 1px solid $black;
      padding-bottom: 5px;
    }
  }

  /*
  =============== 
  Media Query
  ===============
  */
  @media screen and (max-width: 500px) {
    &_header {
      h3 {
        font-size: 2rem;
      }
      p {
        text-align: left;
      }
    }
    &_types {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/*
  =============== 
  Testimonial Section
  ===============
  */
#testimonial .testimonial {
  text-align: center;
  padding: 50px;
  background-color: $bg_testimonial;
  img {
    width: 70px;
    height: 70px;
  }

  .big {
    font-size: 2rem;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
  }
  .test_name {
    font-size: 1.5rem;
    margin-top: 5%;
  }
  /*
  =============== 
  Media Query
  ===============
  */
  @media screen and (max-width: 500px) {
    text-align: left;
    padding: 10px;
    background-color: $bg_testimonial;
    img {
      width: 30px;
      height: 30px;
    }

    .big {
      font-size: 1rem;
      width: 100%;
    }
    .test_name {
      font-size: 1rem;
    }
  }
}
/*
  =============== 
  User Details Section
  ===============
  */

#user_details .user_details {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 50px 0;
  .location {
    p {
      font-size: 1.2rem;
      line-height: 25px;
    }
    .user_contact {
      a {
        color: $black;
        line-height: 25px;
        font-size: 1.2rem;
      }
    }
    .socials {
      padding: 15px 0;
      a {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .days {
    p {
      font-size: 1.2rem;
      line-height: 25px;
    }
  }
  .user_contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    input,
    textarea {
      outline: none;
      border: none;
      border-bottom: 1px solid $black;
      padding: 20px 0;
      width: 90%;
      font-size: 1.2rem;
      &:hover {
        border-bottom: 2px solid $black;
      }
    }
    .message {
      textarea {
        width: 190%;
        padding: 0;
      }
    }
  }
  /*
  =============== 
  Media Query
  ===============
  */
  @media screen and (max-width: 500px) {
    flex-direction: column;
    .user_contact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }
}

/*
  =============== 
  Footer Section
  ===============
  */
footer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg_footer;
  p {
    font-size: 1.2rem;
  }
  /*
  =============== 
  Media Query
  ===============
  */
  @media screen and (max-width: 500px) {
    flex-direction: column;
    padding: 20px;
    p {
      font-size: 1rem;
    }
  }
}

/*
  =============== 
  Approach  Section
  ===============
  */

#therapy .therapy {
  #approach .approach {
    text-align: center;
    background: #f7f6f6;
    padding: 50px;
    height: 70vh;
    &_header {
      h3 {
        font-size: 3rem;
        margin-bottom: 3%;
        font-weight: 600;
      }
    }
    &_content {
      width: 70%;
      margin: 0 auto;
      p {
        font-size: 1.2rem;
        line-height: 35px;
      }
    }

    /*
  =============== 
  Media Query
  ===============
  */
    @media screen and (max-width: 500px) {
      text-align: left;
      padding: 10px;
      height: auto;
      &_header {
        h3 {
          font-size: 2rem;
        }
      }
      &_content {
        width: 100%;
      }
    }
  }
}

/*
  =============== 
  About Section
  ===============
  */
#therapy .therapy {
  #about .about {
    background: #f0eded;
    // width: 70%;
    margin: 0 auto;
    padding: 50px;
    &_header {
      text-align: center;
      h3 {
        font-size: 3rem;
        margin-bottom: 3%;
      }
      p {
        width: 70%;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 25px;
        text-align: left;
      }
    }

    &_card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 3%;

      &_list {
        ul {
          li {
            list-style: disc;
            line-height: 25px;
            font-size: 1.2rem;
          }
        }
      }
    }
    /*
    =============== 
    Media Query
    ===============
    */
    @media screen and (max-width: 500px) {
      padding: 20px;
      &_header {
        h3 {
          font-size: 2rem;
        }
        p {
          width: 100%;
        }
      }

      &_card {
        flex-direction: column;
        &_img {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
/*
  =============== 
  Contact Section
  ===============
  */
#therapy .therapy {
  #contact .contact {
    padding: 50px;
    background: #a1c1ca94;
    height: 37vh;
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100%;
      &_1,
      &_2,
      &_3,
      &_4,
      &_5 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      &_1 {
        background-color: $esteem_1;
      }
      &_2 {
        background-color: $esteem_2;
      }
      &_3 {
        background-color: $esteem_3;
      }
      &_4 {
        background-color: $esteem_4;
      }
      &_5 {
        background-color: $esteem_5;
      }
    }
  }
}

/*
  =============== 
  Blog Section
  ===============
  */
#therapy .therapy {
  #blog .blog {
    background: #f0eded;
    &_header {
      text-align: center;
      padding: 50px;
      h3 {
        font-size: 3rem;
        font-weight: 500;
      }
    }
    &_posts {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2% auto;
      p {
        font-size: 1.2rem;
      }
    }

    &_cards {
      width: 100%;
      margin: 0 auto;
      .blog_card {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        &_img {
        }
        &_content {
          width: 500px;
          background: $neutral;
          padding: 30px;
          .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
          }
          .content {
            h3 {
              font-size: 2.5rem;
              font-weight: 500;
              a {
                color: $black;
                &:hover {
                  color: #899da3;
                }
              }
              p {
                font-size: 1.2rem;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
